<%- include ('partials/header.ejs') %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h2>Fazer pergunta</h2>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta">
                    <label>Título</label>
                    <input name="titulo" type="text" class="form-control" placeholder="Título">
                    <br>
                    <label>Descrição</label>
                    <textarea name="descricao" class="form-control" placeholder="Descrição"></textarea>
                    <br>
                    <button class="btn btn-success">Criar</button>
                </form>
            </div>
        </div>
    </div>
    </body>
    <%- include ('partials/footer.ejs') %>