<%- include ('partials/header.ejs') %>

    <body>
        <div class="container">
            <br>
            <h1>
                <%= pergunta.titulo %>
            </h1>
            <br>
            <p>
                <%= pergunta.descricao %>
            </p>
        </div>
    </body>

    <%- include ('partials/footer.ejs') %>