body {
    background-color: #ECEFF1;
}

.navbar {
    padding: 8px 120px;
}

.navbar a img {
    width: 170px;
}

#formulario-pergunta {
    margin-top: 2rem;
}

textarea {
    resize: none;
}

.container {
    background-color: white;
}

.std-text {
    font-size: 18px;
}